.card{
    width:20rem;
    margin:.5rem;
}
.card-body{
    font-size: 1rem;
}
.card-title{
    font-weight: bold;
    font-size: 1.4rem;
}
.card-text{
    font-style: italic;
    font-size: 1.3rem;
}
.btn-card{
    font-size: 1.2rem;
    background-color: rgb(230, 230, 230);

}
.card-price{
    font-weight: bold;
}

select {
    font-size: 10px;
    margin-left: 0.3rem;
}