.detail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card-body{
    font-size: 1rem;
}
.card-title{
    font-weight: bold;
    font-size: 1.4rem;
}
.card-text{
    font-style: italic;
    font-size: 1.3rem;
}
.btn-card{
    font-size: 1.2rem;
    background-color: rgb(230, 230, 230);

}
.card-price{
    font-weight: bold;
}

select {
    font-size: 10px;
    margin-left: 0.3rem;
}
.checkOut{
    color: black;
    background-color: gray;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    border: outset;
    padding: 5px;
}

.display{
    display: flex;
    flex-direction: row;
    padding: 10%;
    margin: 10%;
    border: 20%;
}

.goToCart{
    padding-bottom: 10%;
}