.cart-btn {
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;
  }
  
.cart-widget {
    width: 2.5rem;
    height: 2.5rem;
    padding-right: 1rem;
}

.cart-btn span{
  font-weight: bold;
  color: black;
  font-size: 1rem;
}