.card{
    width:20rem;
    margin:.5rem;
    justify-content: center;
    align-items: center;
}
.card-body{
    font-size: 1rem;
    background-image: url(../../assets/background_image.jpg);
}
.card-title{
    font-weight: bold;
    font-size: 1.4rem;
    font-style: italic;
}
.card-price{
    font-size: 1.1rem;
}
.card-text{
    font-style: italic;
    font-size: 1.3rem;
}
.btn-card{
    font-size: 1.2rem;
    background-color: rgb(230, 230, 230);
    text-decoration: none;
    color: gray;

}