.counter{
    width: fit-content;
    
    text-align: center;
    border: outset;
}

.counter button{
    text-shadow: 2px 2px 5px red;
    font-weight: bold;
    font-size: 15px;
}


.counter span{
    font-weight: bold;
    padding: 5%;
}