.counter{
    width: fit-content;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1rem;
    text-align: center;
    border: outset;
    background-color: pink;
}

.counter button{
    text-shadow: 2px 2px 5px red;
    font-weight: bold;
    font-size: 15px;
}


.counter span{
    font-weight: bold;
    padding: 5%;
}